.Rproj.user
.Rhistory
.RData
.Ruserdata
*.tif
*.tif.aux.xml
gha-creds-*.json
rgeedim.Rproj
inst/doc
.github/*.html
CRAN-SUBMISSION
/doc/
/Meta/
.github/copilot-instructions.md
misc/untracked/
README.html