# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  workflow_dispatch:
  push:
    paths:
      - '**.R'
      - '**R-CMD-check.yml'
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release', geedim-version: 'latest', authenticate: false}
          - {os: windows-latest, r: 'release', geedim-version: 'latest', authenticate: false}
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release', geedim-version: 'latest', authenticate: false}
          - {os: ubuntu-latest,   r: 'release', geedim-version: 'latest', authenticate: true}
          - {os: ubuntu-latest,   r: 'release', geedim-version: '1.9.0', authenticate: true}
          - {os: ubuntu-20.04,   r: '3.6', geedim-version: 'latest', authenticate: false}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      EE_PRIVATE_KEY: ${{ secrets.EE_PRIVATE_KEY }}

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified

      - uses: r-lib/actions/setup-pandoc@v2

      - name: Install system dependencies (macOS)
        if: runner.os == 'macOS'
        run: |
          brew install gdal
          
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, rstudio/reticulate, any::remotes
          needs: check

      - name: Install GDAL for Windows
        if: runner.os == 'Windows'
        run: |
          remotes::install_github("brownag/rgeowheels")
          rgeowheels::install_wheel("GDAL")
        shell: Rscript {0}

      - name: Install Python dependencies
        run: |
          reticulate::virtualenv_create("r-rgeedim")
          if ("${{ matrix.config.geedim-version }}" == "latest") {
            reticulate::virtualenv_install("r-rgeedim", "geedim")
          } else {
            reticulate::virtualenv_install("r-rgeedim", paste0("geedim==", "${{ matrix.config.geedim-version }}"))
          }
        shell: Rscript {0}

      - name: Authenticate with Earth Engine
        if: matrix.config.authenticate == true && env.EE_PRIVATE_KEY != ''
        run: |
          rgeedim::gd_initialize(private_key_file = Sys.getenv("EE_PRIVATE_KEY"))
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true

